@media only screen and (max-width: 767px) {

    .newsCardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40vh;
        margin-top: 5px;
        
    }
    .listItem{
        list-style: none;
        display: flex;
        width: 100%;
    }
    .newsImage {
        height: auto;
        width: 200px;
        margin-top: 10px;
    }
    #imageContainer{
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 3;
    }
    #title {
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }
    #date{
        text-align: center;
        font-size: 0.8em;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}