@media only screen and (min-width: 767px) {

    .newsImage{
        height: auto;
        width: 300px;
    }
    .tableData{
        font-size: 1.2em;
        font-weight: 600;
    }
    #linkContainer{

    }
    .pageLinks:visited{
        text-decoration: none;
    }
    .pageLinks:link{
        text-decoration: none;

    }
}
