@media only screen and (max-width: 767px) {
    #errorContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    };
    #errorHeader{
        text-align: center;
    };

}
