@media only screen and (min-width: 767px) {
       #errorContainer{
        display: flex;
        justify-content: center;
        align-items: center
    };
    #errorHeader{
        text-align: center;
    };
}